*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.sonarqube
/.idea/discord.xml
/.idea/sonarlint/*
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/intellij-sonar-plugin-project.xml
/.idea/sonarlint.xml
.idea/sonarlint-state.xml
/.idea/vcs.xml
/.idea/libraries/
